# Curso Basico de Python - Introduccion a Machinne Learning

![title](images\python-lenguaje.png)

# Numeros en Python

In [7]:
8 + 9

17

In [25]:
10 / 2

5.0

In [4]:
numero1 = 8
numero2 = 10
numero3 = 2
resultado = (numero1+ numero2)/numero3

In [6]:
numero1 = 8
numero2 = 10
numero3 = 2
resultado = (numero1+ numero2)/numero3
resultado

9.0

Podemos poner en variables los numeros, podemos realizar cualquier operacion matematica

In [7]:
# se puede imprimir de dos formas
print("--------------- forma 1 ---------------")
print(resultado) # Primera forma
print("--------------- forma 2 ---------------")
resultado # Segunda forma

--------------- forma 1 ---------------
9.0
--------------- forma 2 ---------------

9.0

# Cadenas de caracteres

Es un conjunto de letras que pueden estar en "" o '', **Es decir, se puede utilizar comillas  simples o dobles**

In [34]:
"Hola mundo"

'Hola mundo'

In [35]:
'Hola mundo de ML'

'Hola mundo de ML'

In [37]:
"Esto es la union de una cadena " 'con esta otra cadena'

'Esto es la union de una cadena con esta otra cadena'

In [39]:
cadena = 'hola mundo cadena'
cadena

'hola mundo cadena'

In [40]:
print(cadena)

hola mundo cadena

In [44]:
nombre =  'Juan David'
edad = 25
print("Mi nombre es {} y tengo {}".format(nombre,edad)) 
# va a sustituir en los corchetes los parametros que le enviamos en orden

Mi nombre es Juan David y tengo 25

In [45]:
nombre =  'Juan David'
edad = 25
print("Mi nombre es {var1} y tengo {var2}".format(var1=nombre,var2=edad)) 
# va a sustituir en los corchetes los parametros que le enviamos en orden

Mi nombre es Juan David y tengo 25

In [49]:
cadena2 = 'futbol'
cadena2[0]   # accedemos a la primera posicion de la cadena

'b'

In [50]:
cadena2[1]

'u'

In [51]:
cadena2[2]

't'

In [52]:
cadena2[3]

'b'

In [ ]:
cadena2[-1] # La ultima posicion o ultimo caracter

In [55]:
cadena2[0:4] # toma desde la posicion 0 hasta la 4

'futb'

# Listas

Es un conjunto ordenado de elementos

In [56]:
[1,2,3,35,6,778,8,9,99] # puede ser un conjunto de numeros

[1, 2, 3, 35, 6, 778, 8, 9, 99]

In [57]:
['aba','juan','david','laura','camila','papa'] # puede ser un conjunto de palabras o caracteres

['aba', 'juan', 'david', 'laura', 'camila', 'papa']

In [58]:
lista = ['a','b','c','d','e','f']

In [61]:
lista.append('e') # a√±adimos un nuevo elemento a la lista
lista

['a', 'b', 'c', 'd', 'e', 'f', 'e', 'e']

In [62]:
lista[0]  # acceder al elemento en la posicion 0

'a'

In [63]:
lista[-1]  # acceder al elemento en la ultima posicion

'e'

In [64]:
lista[0:4] # accedesmos a varios elementos de la lista

['a', 'b', 'c', 'd']

In [66]:
listadoble = [1,2,3,['a','f','r']] # podemos incluir una lista dentro de otra lista, sin importar el tipo de dato
listadoble

[1, 2, 3, ['a', 'f', 'r']]

In [68]:
listadoble[3] # elcuarto elemento es la lista

['a', 'f', 'r']

In [69]:
listadoble[3][1]  # indicamos la posicion dentro del elemento lista, para acceder a un elemnto dentro de la lista doble

'f'

# Diccionarios

Conjunto de elementos Clave, Valor no ordenados

<img src="images\diccionarios-python.png">

In [9]:
diccionario = {'clave1':'valor1', 'clave2':'valor2'}
diccionario

{'clave1': 'valor1', 'clave2': 'valor2'}

In [3]:
dicc = {'a':'1', 'b':'2', 'c':'3'}
dicc

{'a': '1', 'b': '2', 'c': '3'}

In [4]:
dicc['a']  # para conocer el valor de la clave

'1'

In [5]:
diccionario['clave1']

'valor1'

In [6]:
diccionario2 = {'nombre':'Juan', 'edad':'25', 'sexo':'M'}
diccionario2

{'nombre': 'Juan', 'edad': '25', 'sexo': 'M'}

In [7]:
diccionario2['nombre'] # si queremos saber el nombre

'Juan'

# Tipo Boolean

variables que toman dos valores True:False

In [8]:
5 == 6

False

In [9]:
10 == 10

True

In [11]:
resultado = (5==5)
resultado

True

In [12]:
a = 5
b = 6
resultado = (a == b)
resultado

False

# Tuplas

Son colecciones de elementos que no se pueden alterar

In [13]:
tupla = (1,2,3,4,5,6,7)
tupla

(1, 2, 3, 4, 5, 6, 7)

In [14]:
tupla[0] = 4 # Las tuplas no se pueden modificar sus elementos

TypeError: 'tuple' object does not support item assignment

In [15]:
tupla[0]

1

In [16]:
tupla[-1]

7

# Conjuntos

Son colecciones de elementos unicos, que permite repetir elementos

In [17]:
conjuntos = {1,2,3,4,5,6}
conjuntos

{1, 2, 3, 4, 5, 6}

In [19]:
conjunto2 = {1,2,3,1,4,5,1} # No permite elementos duplicados, solo muestra los resgistros unicos
conjunto2

{1, 2, 3, 4, 5}

In [20]:
lista = [1,1,3,4,5,6]
conjunto = set(lista) # Creamos un conjutno apartir de una lista
conjunto # Elimnina los valore repetidos de la lista, por que lo convirtio a un conjunto

{1, 3, 4, 5, 6}

# Operaciones de Comparacion

In [21]:
5 == 5

True

In [22]:
valor1 = 4
valor2 = 5
valor1 == valor2

False

In [23]:
3 > 2

True

In [24]:
8 < 9

True

In [25]:
7 < 4

False

Los operadores son ( == , <, >, >=, <= , != )

In [27]:
8 != 9

True

In [28]:
(5 < 7) and  (8 > 5)

True

Aplican tambien para los operadores logicos (and, or)

# Operadores condicionales if elseif else

Condicionales

In [31]:
a = 5
b = 5
if  (a == b):
    resultado = a + b
    print("son iguales y el resultado de la suma es : {}".format(resultado))
else: 
    print("No son iguales")

son iguales y el resultado de la suma es : 10

In [32]:
a = 5
b = 6
if  (a == b):
    resultado = a + b
    print("son iguales y el resultado de la suma es : {}".format(resultado))
else: 
    print("No son iguales")

No son iguales

In [34]:
a = 5
b = 6
if  (a == b):
    resultado = a + b
    print("son iguales y el resultado de la suma es : {}".format(resultado))
elif (a > b): 
    print("a es mayor que b")
elif (a < b): 
    print("a es menor que b")
else:
    print("No son iguales")

a es menor que b

# Bucle For

Sirve para iterar una secuencia de elementos

In [5]:
lista = [1,2,3,4,56,7,8,897]
# Queremos recorrer la lista elemento uno a uno

for elemento in lista:
    valor = elemento * 5 # Multiplicamos cada elemento por 5
    print(valor)
# Recorremos una lista de elementos y realizamos cualquier accion sobre ellos   

nombres = ['Juan', 'Carlos', 'Aldemar', 'Cristian', 'Salome']
apellido = 'Espitia'
for elemento in nombres:
    NombreCom = elemento + " " + apellido # Multiplicamos cada elemento por 5
    print(NombreCom)

5
10
15
20
280
35
40
4485
Juan Espitia
Carlos Espitia
Aldemar Espitia
Cristian Espitia
Salome Espitia

# Bucle while

In [7]:
numero = 1
while numero < 5:
    print(numero)
    numero = numero + 1

1
2
3
4

# Funcion Range

La funcion range es un generador de numeros es un rango (Io, If)

In [8]:
range(0,5)

range(0, 5)

In [10]:
list(range(0,5)) # Creamos una lista con una funcion range que va de 0 a 5 (sin tomar el 5)

[0, 1, 2, 3, 4]

In [12]:
list(range(10,21))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
for elemento in range(0,6):
    print(elemento)

0
1
2
3
4
5

# Compresiones de Listas

In [ ]:
Crear una lista apartir de otra lista

In [20]:
lista1  = [1,2,3,4,5,6,7,8,9]
lista2 = [] # Creamos una lista vacia
for elemento in lista1:
    valor = elemento * 2
    lista2.append(valor)
lista2

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
lista3 = [] # Donde guardamos los menores o iguales a 5
lista4 = [] # Donde guardamos los mayores a 5
for elemento in lista1:
    if elemento < 6:
        lista3.append(elemento)
    else:
        lista4.append(elemento)
lista3
lista4

[6, 7, 8, 9]

In [31]:
#Es el mismo metodo incial de compresion de lista
lista1  = [1,2,3,4,5,6,7,8,9]
lista5 = [numero * 2 for numero in lista1] #Es la misma funcio, solo que la obtenemos en la misma linea
lista5

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# Funciones

Es una a grupacion de codigo que permite la reutilizacion

In [32]:
def funcion():
    print("Hola, Buenos dias")

Para llamar la funcion se invoca de la siguiente forma

In [33]:
funcion()

Hola, Buenos dias

Tambien podemos a√±adirle parametros a una funcion

In [37]:
def saludar(nombre):
    print("Hola Buenos dias " + nombre)

In [38]:
saludar('Juan David Espitia')

Hola Buenos dias Juan David Espitia

In [41]:
def suma(numero1, numero2):
    """
    Esto es un comentario de la funcion sumar 
    esta funcion suma dos numeros pasados por parametros 
    Ejemplo: sumar (2,3) --> R/ 5
    """
    resultado =numero1 + numero2
    return resultado

In [40]:
suma(5,15)

20

In [ ]:
suma # Con las teclas Shif + Tab = Obtenemos informacion de las funciones, hasta su documentacion

# Funcion MAP

MAP sirve para mapear todos los elementos de un objeto
map(funcion, Objeto)

In [43]:
def multiplicar (numero):
    return numero * 2

In [44]:
multiplicar(5)

10

In [46]:
lista = [1,2,3,4,5,6,7,8,9]
lista2 = list(map(multiplicar, lista)) # Comvertimos a lista y ponemos en lista2 el resultado de mapear la funcion multiplicar
lista2
# Aplicamos la funcion a los elementos de una lista
# map(funcion, [listas, diccionarios, conjuntos])
# Sirve p√°ra mapear una funcion sobre un elemeto o sobre todos los elemtos de una coleccion u objeto

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# Funcion Lambda

Es una peque√±a funcion anonima, que simplifica el codigo

In [47]:
def multiplicar (numero):
    return numero * 2

In [48]:
multiplicar(5)

10

In [49]:
lista1 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
lista2 = list(map(multiplicar, lista1))
lista2

[4, 8, 12, 16, 20, 24, 28, 32, 36]

In [50]:
lista1 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
lista3 = list(map(lambda numero: numero / 2, lista1))
lista3

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

# Funcion Filter

Sirve para filtrar o seleccionar elementos de un objeto

In [59]:
def pares(numero):
    if(numero % 2 == 0):
        return numero

In [61]:
pares(4)
pares(5)

In [62]:
lista1 = [1,2,3,4,5,6,7,8,9]
listapar = list(filter(pares, lista1))
listapar

[2, 4, 6, 8]

In [66]:
lista1 = [1,2,3,4,5,6,7,8,9]
lista_par_lambda = list(filter(lambda numero: numero%2 == 0, lista1))
lista_par_lambda

[2, 4, 6, 8]

# Funciones de Cadenas de Caracteres

In [67]:
cadena = "Hola Mundo, me llamo Juan David"
cadena

'Hola Mundo, me llamo Juan David'

In [73]:
cadena.upper()

'HOLA MUNDO, ME LLAMO JUAN DAVID'

In [69]:
cadena.lower()

'hola mundo, me llamo juan david'

In [72]:
cadena.split() # Devulve una lista con las palabras separadas, cada elemento es una palabra

['Hola', 'Mundo,', 'me', 'llamo', 'Juan', 'David']

In [74]:
cadena.split(",")

['Hola Mundo', ' me llamo Juan David']

In [75]:
cadena.split(",")[0]

'Hola Mundo'

# Ejercicio

Dada la siguiente frase
frase= "Hola, Este es el curso basico de Python"
Divide la frase en palabras y cuente el numero de palabras que contiene la frase
Muestre el resultado mediante print de esta forma:
    El numero de palabras es ...

In [77]:
frase = "Hola, Este es el curso basico de Python"
lista_frase = list(frase.split())
lista_frase

['Hola,', 'Este', 'es', 'el', 'curso', 'basico', 'de', 'Python']

In [81]:
len(lista_frase)

8

In [82]:
print("El numero de palabras es: {}".format(len(lista_frase)))

El numero de palabras es: 8

# Ejercicio # 2

Dada la siguiente lista
lista = [1,-1,4,-15,9,7,6,-3,2,-20]
Crear una funcion "positivo" que pasando como para metro un numero, lo devuelva tal cual si es positivo,
o no devuelve nada si el numero es negativo
Crear una nueva lista cque mediante filter, contenga solo los numeros positivos

In [7]:
lista = [1,-1,4,-15,9,7,6,-3,2,-20]
lista

def positivo (numero):
    if (numero >= 0):
        return numero

positivo(5)

lista2 = list(filter(positivo, lista)) # Le envio cada elemento de lista1 a la funcion positivo y me devuelve los valores postivos
lista2

[1, 4, 9, 7, 6, 2]

# Ejercicio # 3

Dada la siguiente lista de palabras
lista = ['manzana','platano'.'melocoton','pera','limon','platano', 'naranja','pera','habichuela']
crear una nueva lista "lista_sin_duplicadoss" eliminando palabtras repetidas
Pista utilizar conjuntos

In [11]:
lista = ['manzana','platano','melocoton','pera','limon','platano', 'naranja','pera','habichuela']
lista

conjunto = set(lista)
conjunto

# Pasamos de conjunto a Lista con un bucle
lista_sin_duplicados = []

for elemento in conjunto:
    lista_sin_duplicados.append(elemento)
lista_sin_duplicados

['pera', 'habichuela', 'manzana', 'naranja', 'platano', 'melocoton', 'limon']

Podemos hacerlo tambien de la siguiente manera

# Ejercicio # 4

Crear una funcion "dividir_entre_dos"que divide un numero entre el numero 2 y devuelve el resultado 
dada la siguiente lista = [20,18,8,4,10,40,6]
Crear una nueva lista "lista2" que mediante la funcion "map" aplique la funcion "dividir_entre_dos" a cada elemento de la lista

In [14]:
lista = [20,18,8,4,10,40,6]
lista

def dividir_entre_dos (numero):
    return numero / 2

dividir_entre_dos(10)


lista2 = list(map(dividir_entre_dos,lista))

lista2

[10.0, 9.0, 4.0, 2.0, 5.0, 20.0, 3.0]